/* Custom page header */
.header {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.nav > li > a {
    padding: 8px 12px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    margin-bottom: 20px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
        border-bottom: 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    body {
        // http://subtlepatterns.com/p1/
        background: #eee url('../images/p1.png');
    }

    .page {
        width: 320px;
        height: 588px;
        margin: 30px auto;
        padding: 0;
        background: #fff;
        border: 1px solid #666;
        border-top: 10px solid #666;
        border-bottom: 10px solid #666;
        overflow: auto;
    }
}
